<mat-toolbar color="primary">
  <div class="flex justify-between align-middle w-full">
    <div>
      <img alt="logo" height="32" ngSrc="../../../../assets/images/logo-white.svg" width="32" />
    </div>

    <div>
      <button mat-button matTooltip="{{ 'DATA_COLLECTED_FROM' | translate }}"><mat-icon>info</mat-icon></button>
      <button [matMenuTriggerFor]="menu" mat-button><mat-icon>translate</mat-icon></button>
      <mat-menu #menu="matMenu" class="mw-auto">
        <button (click)="changeLanguage(lang)" *ngFor="let lang of languages" mat-menu-item>{{ lang.toUpperCase() }}</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
