<app-toolbar></app-toolbar>
<div class="p-1 lg:p-2">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 relative">
    <app-product-list (productSelect)="onProductSelect($event)" [products]="products"></app-product-list>

    <div class="vh2 overflow-auto">
      <app-product-calculator
        (calculatedProduct)="onCalculatedProduct($event)"
        [product]="selectedProduct$ | async"></app-product-calculator>

      <app-selected-products
        (removeSelected)="onRemoveSelected($event)"
        *ngIf="(calculatedProducts$ | async)!.length > 0"
        [calculatedProducts]="(calculatedProducts$ | async)!"></app-selected-products>

      <app-total-nutrition
        *ngIf="(calculatedProducts$ | async)!.length > 0"
        [calculatedProducts]="(calculatedProducts$ | async)!"></app-total-nutrition>
    </div>
  </div>
</div>
