<div class="p-3 bg-white rounded shadow-lg">
  <h3 class="text-2xl mb-3 text-center text-slate-700">პროდუქტების სია</h3>
  <mat-form-field class="w-full">
    <mat-label>Search</mat-label>
    <input #input (keyup)="applyFilter($event)" matInput placeholder="">
  </mat-form-field>
  <div class="vh90 overflow-auto relative">
    <table [dataSource]="dataSource"  mat-table matSort>

      <ng-container matColumnDef="product">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Product </th>
        <td *matCellDef="let element" mat-cell> {{element.productGE}} </td>
      </ng-container>

      <ng-container matColumnDef="calorie">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Calorie </th>
        <td *matCellDef="let element" mat-cell> {{element.calorie}} </td>
      </ng-container>

      <ng-container matColumnDef="protein">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Protein </th>
        <td *matCellDef="let element" mat-cell> {{element.protein}} </td>
      </ng-container>

      <ng-container matColumnDef="carbs">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Carbs </th>
        <td *matCellDef="let element" mat-cell> {{element.carbs}} </td>
      </ng-container>

      <ng-container matColumnDef="fat">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Fat </th>
        <td *matCellDef="let element" mat-cell> {{element.fat}} </td>
      </ng-container>


      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr (click)="rowClicked(row)"
          *matRowDef="let row; columns: displayedColumns;"
          [class.row-is-clicked]="this.selectedProduct === row" mat-row></tr>
    </table>
  </div>

</div>
