<div class="p-3 bg-white rounded shadow-lg mt-2">
  <div class="vh90 overflow-auto relative">
    <table [dataSource]="dataSource" mat-table matSort>
      <ng-container matColumnDef="product">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Product</th>
        <td *matCellDef="let element" mat-cell>{{ element.productGE }}</td>
      </ng-container>

      <ng-container matColumnDef="gram">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Gram</th>
        <td *matCellDef="let element" mat-cell>{{ element.gram }}</td>
      </ng-container>

      <ng-container matColumnDef="calorie">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Calorie</th>
        <td *matCellDef="let element" mat-cell>{{ element.calorie }}</td>
      </ng-container>

      <ng-container matColumnDef="protein">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Protein</th>
        <td *matCellDef="let element" mat-cell>{{ element.protein }}</td>
      </ng-container>

      <ng-container matColumnDef="carbs">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Carbs</th>
        <td *matCellDef="let element" mat-cell>{{ element.carbs }}</td>
      </ng-container>

      <ng-container matColumnDef="fat">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Fat</th>
        <td *matCellDef="let element" mat-cell>{{ element.fat }}</td>
      </ng-container>

      <ng-container matColumnDef="remove">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Remove</th>
        <td *matCellDef="let element" mat-cell><button (click)="removeProduct(element)" color="primary" mat-button><mat-icon>delete</mat-icon></button></td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
    </table>
  </div>
</div>
